<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Cart</title>
</head>
<body>
  <h2>Your Cart</h2>

{% if products %}
  <ul>
    {% for product in products %}
        <li>
            <strong>{{ product.name }}</strong> - ${{ product.price }}
        </li>
    {% endfor %}
  </ul>
  <a href="/">⬅ Keep Shopping</a>
  {% else %}
    <p>Your cart is empty.</p>
    <a href="/">Start Shopping 🛍️</a>
  {% endif %}

</body>
</html>